# Xcode
#
# Created by https://www.toptal.com/developers/gitignore/api/xcode,swift
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swift

### Swift ###
# Standard Swift Package Manager files
.build/
Packages/

### Xcode ###
# Xcode temporary files
*.moved-aside
*.xcuserstate

# User specific Xcode files
xcuserdata/
*.xcuserdatad

# Build generated
build/
DerivedData/

# Various settings
*.xcscheme
*.xcsettings

# Bundle artefacts
*.app
*.ipa

# DS Store files
.DS_Store

# Cursor specific files
.cursor/

# Carthage
Carthage/Build

# Pods
Pods/

# Swift Playgrounds
*.swiftpm
*.playground 